In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import country_converter as coco

In [25]:
df = pd.read_csv("../countries.csv")
df_cooking= pd.read_csv("./Cooking.csv")

In [26]:
def clean_dataworld(df,ValueName):
    """
    Fonction qui sert à standardiser les données venant de dataworld
    Paramètres : 
    df : tableau de données
    ValueName : nom de la colonne utilitaire

    Retourne :
    Un df standardisé.
    """
    df = df[df['Country Code'].notna()]
    df = df.drop(['Series Name','Series Code'], axis=1)
    df = df.melt(id_vars=["Country Name","Country Code"],
                  var_name="Year",
                  value_name=ValueName)
    df["Year"] = df["Year"].str.slice(0,4)
    df["Year"] = df["Year"].astype('int')
    return df

In [28]:
df_cooking = clean_dataworld(df_cooking,"CleanFuelAndCookingEquipment")

,Country Name,Country Code,Year,CleanFuelAndCookingEquipment
0,Afghanistan,AFG,2002,7.7
1,Albania,ALB,2002,41.4
2,Algeria,DZA,2002,97.4
3,American Samoa,ASM,2002,..
4,Andorra,AND,2002,100
...,...,...,...,...
5581,Sub-Saharan Africa,SSF,2022,22.0478502773341
5582,Sub-Saharan Africa (excluding high income),SSA,2022,22.0401341693902
5583,Sub-Saharan Africa (IDA & IBRD countries),TSS,2022,22.0478502773341
5584,Upper middle income,UMC,2022,89.4591343510381
5585,World,WLD,2022,73.843840394032

In [29]:
result = df_cooking